{% extends 'base.html' %}
{% load static %}
{% load social_share%}
{% block title %}
<title>NEOQT365 </title>
{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="modal-header p-5 pb-4 border-bottom-0">
    <!-- <h5 class="modal-title">Modal title</h5> -->
    <h2 class="fw-bold mb-0">오늘말씀</h2>
    <!--
    <a href="{%url 'copy_past'%}">
        <button class="btn btn-default" type="button" id="copy-button" onclick="CopyToClipboard('editor1')"
            data-toggle="tooltip" data-placement="button" title="Copy to Clipboard">
            Copy
        </button>
        <a>
            -->
</div>
<div class="modal-body p-5 pt-0">
    <!--<button id="button1" onclick="CopyToClipboard('editor1')">COPY</button> -->
    <div id='editor1' class="form-floating mb-3">
        <h5 class="fw-bold mb-0">{{today}} {{book_name}} {{daily_verse}}</h5>
        <br>
        {%for text in scripture%}
        <p><sup>{{text.Verse}}</sup><strong>{{text.Text}}</strong></p>

        {% endfor %}
    </div>
    <a href="{%url 'meditation'%}">
        <!-- <button id="copy-button" type="button" class="btn btn-outline-primary btn-sm"
            onclick="CopyToClipboard('editor1')">나의묵상글 등록하기</button></a>-->
        <button id="copy-button" type="button" class="btn btn-outline-primary btn-sm">나의묵상글 등록하기</button>
        <a href="{%url 'p_meditation'%}">
            <button type="button" class="btn btn-outline-primary btn-sm">나의묵상글 보기</button>
        </a>
</div>
<script>
    function testClipboard() {
        navigator.clipboard.writeText("Clipboard API Test").then(
           v => alert("Success"),
           e => alert("Fail\n" + e));
     }
    // add url when someone copied text
    /*
    document.addEventListener('copy', function (e) {
        var selection = window.getSelection();
        e.clipboardData.setData('text/plain', $('<div/>').html(selection + "").text() + "\n\n" + 'Source: ' +
            document.location.href);
        e.clipboardData.setData('text/html', selection + '<br /><br /><a href="' + document.location.href +
            '">Source</a>');
        e.preventDefault();
    });**/
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').hover(function () {
            $(this).tooltip('show')
        });
        $('[data-toggle="tooltip"]').on('click', function () {
            $(this).attr('title', 'Copied').tooltip('dispose').tooltip('show')
        });
    });
</script>
{%endblock%}