{% extends 'base.html' %}
{% load static %}
{% load social_share%}
{% block title %}
<title>NEOQT365 </title>
{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<style>
    .main-content {
        direction: rtl;
        /* Right to Left */
    }

    @font-face {
        font-family: 'Ezra SIL SR';
        src: url({%static 'fonts/ezrasilsr-webfont.eot'%}?#iefix) format('embedded-opentype'),
        url({%static 'fonts/ezrasilsr-webfont.woff'%}) format('woff'),
        url({%static 'fonts/ezrasilsr-webfont.ttf'%}') format('truetype'),
        url({%static 'fonts/ezrasilsr-webfont.svg#EzraSILSR'%}) format('svg');
    }

    .ezra {
        font-family: 'Ezra SIL SR';
        direction: rtl;
        text-align: right;
    }

    @import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
</style>
<div class="modal-header p-5 pb-4 border-bottom-0">
    <!-- <h5 class="modal-title">Modal title</h5> -->
    <h2 class="fw-bold mb-0">오늘말씀</h2>
    <form action="#" method='POST'>
        {% csrf_token %}

        <button class='button button1' id="prev" style="border:none"><img src="{%static 'img/left-arrow.png'%}"
                width="15" height="15"></button>
        <input onchange="submit();" style="border:none;text-align:center;" type="text" class='form-group'
            id="datePicker" name="date" value='{{today}}' size='15'>
        <button class='button button2' id="next" style="border:none"><img src="{%static 'img/right-arrow.png'%}"
                width="15" height="15"></button>
        <!--<div id="datePicker" onchange="submit();"></div>-->
    </form>


    <button class="btn btn-default" type="button" id="copy-button" onclick="CopyToClipboard('editor1')"
        data-toggle="tooltip" data-placement="button" title="Copy to Clipboard">
        Copy
    </button>
    <p class="result"></p>
</div>
<div class="modal-body p-5 pt-0">
    <a href="javascript:SetFont(27)" style ="color: black;text-decoration: none;|font-size: xx-large;"><i class="bi bi-fonts"style="font-size: 27px;"></i></a> 
<a href="javascript:SetFont(18)"style ="color: black;text-decoration: none;|font-size: xx-large;"><i class="bi bi-fonts"style="font-size: 18px;"></i></a> 
<a href="javascript:SetFont(14)"style ="color: black;text-decoration: none;|font-size: xx-large;"><i class="bi bi-fonts"style="font-size: 14px;"></i></a>
    <!--<button id="button1" onclick="CopyToClipboard('editor1')">COPY</button> -->
    <div id='editor1' class="form-floating mb-3">
        <h5 class="fw-bold mb-0">{{today}} {{book_name}} {{daily_verse}}
            <input id='ur1' type='hidden' value="https://neoqt.neowine.com">
            {%if bible_qt == '생명의삶'%}
            <a href="http://cloudvod1.cgntv.net/_NewMP4/1/MAQT{{f_date}}.h854x480.mp4" target="_blank">
                <img src="{% static 'img/icons8-link-16.png'%}">
            </a>
            {%else%}
            <a href="https://meditation.su.or.kr/meditation_mp3/2023/20{{f_date}}.mp3" target="_blank">
                <img src="{% static 'img/icons8-link-16.png'%}">
            </a>
            {%endif%}
        </h5>
        <br>
        <!--To know how many language selected-->
        {%if length == 4 %}
        {%for text1,text2,text3,text4 in fina_scripture%}
        <!--Setting Hebrew fonts if include Hebrew Bible-->
        {%if text4.Book_No < '40'%}
        <p><sup>{{text1.Verse}}</sup><strong>{{text1.Text}}</strong></p>
        <p><sup>{{text2.Verse}}</sup>{{text2.Text}}</p>
        <p><sup>{{text3.Verse}}</sup>{{text3.Text}}</p>
        <p class='ezra'><sup>{{text4.Verse}}</sup>{{text4.Text}}</p>
        <br>
        {%else%}
        <p><sup>{{text1.Verse}}</sup><strong>{{text1.Text}}</strong></p>
        <p><sup>{{text2.Verse}}</sup>{{text2.Text}}</p>
        <p><sup>{{text3.Verse}}</sup>{{text3.Text}}</p>
        <p><sup>{{text4.Verse}}</sup>{{text4.Text}}</p>
        <br>
        {%endif%}
        {% endfor %}

        {%elif length == 3%}
        {%for text1,text2,text3 in fina_scripture%}
        {%if text3.Book_No < '40'%}
        <p><sup>{{text1.Verse}}</sup><strong>{{text1.Text}}</strong></p>
        <p><sup>{{text2.Verse}}</sup>{{text2.Text}}</p>
        <p class='ezra'><sup>{{text3.Verse}}</sup>{{text3.Text}}</p>
        <br>
        {%else%}
        <p><sup>{{text1.Verse}}</sup><strong>{{text1.Text}}</strong></p>
        <p><sup>{{text2.Verse}}</sup>{{text2.Text}}</p>
        <p><sup>{{text3.Verse}}</sup>{{text3.Text}}</p>
        <br>
        {% endif %}
        {% endfor %}

        {%elif length == 2%}
        {%for text1,text2 in fina_scripture%}
        {%if text2.Book_No < '40'%}
        <p><sup>{{text1.Verse}}</sup><strong>{{text1.Text}}</strong></p>
        <p class='ezra'><sup>{{text2.Verse}}</sup><strong>{{text2.Text}}</strong></p>

        {%else%}
        <p><sup>{{text1.Verse}}</sup><strong>{{text1.Text}}</strong></p>
        <p><sup>{{text2.Verse}}</sup><strong>{{text2.Text}}</strong></p>

        {%endif%}
        {% endfor %}

        {%else%}
        {%for text in fina_scripture%}
        {%if text.Book_No < '40'%}
        <p><sup>{{text.Verse}}</sup><strong>{{text.Text}}</strong></p>
        {%else%}
        <p><sup>{{text.Verse}}</sup><strong>{{text.Text}}</strong></p>
        {%endif%}
        {%endfor%}
        {%endif%}
    </div>
    <button id="copy-button" type="submit" class="btn btn-outline-primary btn-sm"
        onclick="event.preventDefault();document.getElementById('magic-form').submit();">나의묵상글 등록하기</button>
    <a href="{%url 'prayer'%}">
        <button type="button" class="btn btn-outline-primary btn-sm">나의기도등록하기</button>
    </a>
</div>
<form id="magic-form" action="{%url 'meditation'%}" method="GET" style="display: none;">
    {% csrf_token %}
    <!-- from your framework -->
    <input type="hidden" name="new_date" value="{{today}}" />
    <!-- other fields -->
</form>
<script>
    function testClipboard() {
        navigator.clipboard.writeText("Clipboard API Test").then(
            v => alert("Success"),
            e => alert("Fail\n" + e));
    }
    // add url when someone copied textremoves some content from selection, in JavaScript?

    document.addEventListener('copy', function (e) {
        var selection = window.getSelection()
        //To delete first line and make a sigle space for text. the function of replace(/\s\s+/g, '\n') make a sigle space.
        var new_text = selection.getRangeAt(0).toString().replace(/\s\s+/g, '\n').replace(
            '{{today}} {{book_name}} {{daily_verse}}', '');
        console.log(new_text);

        e.clipboardData.setData('text/plain', e.clipboardData.getData('Text').replace(/\s\s+/g, '\n', 1));
        if ('{{bible_qt}}' == "생명의삶") {


            e.clipboardData.setData('text/plain', '매일성경: ' +
                "https://neoqt.neowine.com" + "\n\n" + "CGNTV해설:" +
                "http://cloudvod1.cgntv.net/_NewMP4/1/MAQT{{f_date}}.h854x480.mp4" + "\n\n" +
                "{{today}} {{book_name}} {{daily_verse}}" + "\n\n" + new_text);
            //e.clipboardData.setData('text/html', selection + '<br /><br /><a href="' + document.location.href +
            //   '">Source</a>');
        } else {
            e.clipboardData.setData('text/plain', "\n" + '매일성경: ' + "\n" +
                "https://neoqt.neowine.com" + "\n\n" + '오디오해설:' + "\n" +
                "https://meditation.su.or.kr/meditation_mp3/2023/20{{f_date}}.mp3" + "\n\n" +
                "{{today}} {{book_name}} {{daily_verse}}" + new_text);
        }

        e.preventDefault();
    });

    function CopyToClipboard(id) {
        //var dummy = document.createElement('p');
        // dummy.textContent = window.location.href;
        //document.body.appendChild(dummy);

        var r = document.createRange();
        //r.setStartBefore(dummy);
        //r.setEndAfter(document.getElementById(id));
        r.selectNodeContents(document.getElementById(id));
        //r.insertNode(dummy);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r)
        try {

            document.execCommand('copy')
            //document.body.removeChild(dummy);
            window.getSelection().removeAllRanges();



            //console.log('Successfully copy text: hello world '+r);
        } catch (err) {
            console.log('Unable to copy!');
        }


    }
</script>
<script>

</script>
<!--share-->
<!--
<script>
    function CopyToClipboard(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        r.toString()+"https://neoqt.neowine.com"
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        try {
            document.execCommand('copy');
            window.getSelection().removeAllRanges();

            const shareData = {
                title: 'MDN',
                text: r,
                url: 'https://neoqt.neowine.com'
              }
              
              const btn = document.getElementById('copy-button');
              const resultPara = document.querySelector('.result');
              try {
                navigator.share(shareData);
                //resultPara.textContent = 'MDN shared successfully';
              } catch (err) {
                //resultPara.textContent = `Error: ${err}`;
              }
              // Share must be triggered by "user activation"
             // btn.addEventListener('click', async () => {
   
             // });
        
            //console.log('Successfully copy text: hello world '+r);
        } catch (err) {
            console.log('Unable to copy!');
        }
    }  
    
   
    
</script>
-->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').hover(function () {
            $(this).tooltip('show')
        });
        $('[data-toggle="tooltip"]').on('click', function () {
            $(this).attr('title', 'Copied').tooltip('dispose').tooltip('show')
        });
    });
</script>

<!--datepicker JS code-->
<script type="text/javascript">
    //var disabledDays = {{mark_date | safe}};
    //console.log(typeof disabledDays);
    //console.log(disabledDays);
    var date = new Date();

    jQuery(document).ready(function () {
        $("#datePicker").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            minDate: new Date("2023"),
            maxDate: "+3w"
        });
        $("#datePicker").datepicker().on("click", function () {
            var dTxt = $(this).data('dptxt');
            $('.ui-datepicker-calendar').after('<span class="middle">' + dTxt + '</>');
        });

        $("#prev").click(function () {
            var date = $('#datePicker').datepicker('getDate', '-1d');
            date.setDate(date.getDate() - 1);
            $('#datePicker').datepicker('setDate', date);
        })

        $("#next").click(function () {
            var date = $('#datePicker').datepicker('getDate', '+1d');
            date.setDate(date.getDate() + 1);
            $('#datePicker').datepicker('setDate', date);
        })
    });
</script>
<!--set font size-->
<script type="text/javascript">
    function SetFont(size) {
        var divBody = document.getElementById("editor1");
        if (!divBody) {
            return;
        }
        divBody.style.fontSize = size + "px";
        var divChildBody = divBody.childNodes;
        for (var i = 0; i < divChildBody.length; i++) {
            if (divChildBody[i].nodeType == 1) {
                divChildBody[i].style.fontSize = size + "px";
            }
        }
    }
</script>
{%endblock%}