{% extends 'base.html' %}
{% block title %}
<title>Book Site | Book Detail </title>
{% endblock %}




{% block content %}

<div class="modal-body p-5 pt-0">
<form class='row g-3' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <h5 class="modal-title">성경선택하기</h5>
    <select class="form-select" aria-label="Default select example" name='test' required>
        <option value='매일성경 읽기'>매일성경 읽기</option>

    </select>
    <h5 class="modal-title">언어선택하기</h5>
    <select class="form-select" aria-label="Default select example" name='test' required>
        <option value='한국어'>한국어</option>
        <option value="중국어">중국어</option>
        <option value="영어">영어</option>
        <option value="히브리어(국약)">히브리어(국약)</option>
        <option value="그리스어(신약)">그리스어(신약)</option>
    </select>
    <button class="btn btn-outline-success" type="submit">다음</button>
</form>
</div>
{% endblock %}